.header-main__catalog-nav.catalog-nav
	.catalog-nav__header
		.sandwich
			.sandwich__line.sandwich__line_top
			.sandwich__line.sandwich__line_middle
			.sandwich__line.sandwich__line_bottom
		span.catalog-nav__title Каталог стойматериалов
	.catalog-nav__body
		