.product-prev
	a(href="#").product-prev__header
		.product-prev__img(style="background-image: url(../img/discount4.jpg)")
			.product-prev__marks
				.product-prev__mark.product-prev__mark_bg-yellow  -30%
				//.product-prev__mark.product-prev__mark_bg-green Хит
	a(href="#").product-prev__body
		.product-prev__title
			span.product-prev__name Планка стыковочная 30x30x2000 мм, толщина 0.4 мм, цвет графитовый серый RAL 7024
			span.count-text 10шт
		.product-prev__info
			span.product-prev__info-label Артикул
			span.product-prev__info-value 13763515
		.product-prev__info
			span.product-prev__info-label Срок изготовления
			span.product-prev__info-value от до 5 дней
		.product-prev__price
			span.product-prev__price-old 300грн
			span.product-prev__price-current 250грн. за шт.
	.product-prev__footer
		button.btn.btn__fill
			i.fas.fa-shopping-basket
			span В корзину