footer.footer
	.footer-main
		.container
			.footer-callback
				i.fab.fa-wikipedia-w
				.order-callback.footer-callback__order-callback.order-callback
					span.order-callback__description Звоните круглосуточно
					a(href="tel:+74993348888").order-callback__phone +7 499 334-88-88
					a(href="").order-callback__link.link-white.link-underline Заказать звонок
			.footer-middle
				.footer__col
					span.footer__title О нас
					ul.footer-nav__list
						li.footer-nav__item
							a(href="").footer-nav__link Оплата и доставка
						li.footer-nav__item
							a(href="").footer-nav__link Гарантия
						li.footer-nav__item
							a(href="").footer-nav__link Услуги по обработке металла
						li.footer-nav__item
							a(href="").footer-nav__link Компания
						li.footer-nav__item
							a(href="").footer-nav__link Контакты
							span.footer-nav__desc Связь с директором
				.footer__col
					span.footer__title Каталог
					ul.footer-nav__list
						li.footer-nav__item
							a(href="").footer-nav__link Все для кровли
						li.footer-nav__item
							a(href="").footer-nav__link Фасад
						li.footer-nav__item
							a(href="").footer-nav__link Профнастил
						li.footer-nav__item
							a(href="").footer-nav__link Листовой прокат
						li.footer-nav__item
							a(href="").footer-nav__link Рулонная сталь
				.footer__col
					.footer__block
						span.footer__title Принимаем к оплате
						.payment-types
							ul.payment-types__list
								li.payment-types__item
									.payment-types__logo
										i.fab.fa-cc-visa
								li.payment-types__item
									.payment-types__logo
										i.fab.fa-cc-mastercard
								li.payment-types__item
									.payment-types__logo
										i.fas.fa-ad
							a(href="").link-underline.link-yellow Оплата заказа онлайн		
					.footer__block
						span.footer__title Акции и спецпредложения
				.footer__col
					.footer__block
						span.footer__title Контакты
						.footer-contacts
							i.fas.fa-map-marker-alt
							span.footer-contacts__title Офис
							p.footer-contacts__text 111033, Харьков, улица Киевская 18б кв 3
								a(href="").footer-contacts__link.link-white.link-underline на карте
					.footer__block
						.footer-contacts
							i.fas.fa-map-marker-alt
							span.footer-contacts__title Производство и склад
							p.footer-contacts__text Харьковская обл., Основянский р-н, г. Видное, улица Киевская 18б кв 3 ФРП "Комплекс"
								a(href="").footer-contacts__link.link-white.link-underline на карте
	.footer-bottom
		.container
			.footer-bottom__line
				span.copyright 2018 Завод "Веневский"
				a(href="").footer-bottom__link Политика конфиденциальности
				a(href="").footer-bottom__link Карта сайта
			.footer-bottom__line
				p.footer-bottom__text Сайт venev.ru носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ГК РФ. 
				p.footer-bottom__text Для получения подробной информации о наличии, видах, характеристиках и стоимости материалов, пожалуйста, обращайтесь в офисы продаж.
