section.s-advantages.s-bg-white
	.container
		.advantages
			.advantage
				.advantage__aside
					i.fas.fa-award
				.advantage__body
					span.advantage__title 30 дневная гарантия возврат денег
					p.advantage__text Поэтому вы можете делать покупки с уверенностью
					a(href="").advantage__link.link-underline Узнать о гарантиии
			.advantage
				.advantage__aside
					i.fas.fa-phone-square
				.advantage__body
					span.advantage__title  Специалисты по товарам на связи
					p.advantage__text  Мы ответим на любые вопросы о товарах в уверенностью
					a(href="").advantage__link.link-underline Получить консультацию
			.advantage
				.advantage__aside
					i.far.fa-hand-lizard
				.advantage__body
					span.advantage__title  Бесплатные образцы
					p.advantage__text  Некоторые товары вы можете изучить внимательно перед покупкой
					