section.s-product-prev-line.s-bg-white
	.container
		.section-header
			h2.title-section Товары со скидкой
			.section-header__right
				a(href="#").section-header__link.link-underline.link-green Все товары со скидкой
				span.section-header__count 123
		.product-prev-line
			.product-prevs
				include ../../modules/product/prev1					
				include ../../modules/product/prev2
				include ../../modules/product/prev3
				include ../../modules/product/prev4