section.s-promo
	.container
		.section-header
			h2.title-section Акции и спецпредложения
			.section-header__right
				a(href="#").section-header__link.link-underline.link-green Все спецпредложения
				span.section-header__count 123
		.promo
			.promo-prev
				.promo-prev__item
					.promo-prev__header(style="background-image: url(../img/building_material5.jpg)")
						a(href="").btn Купить листы оцинкованные
					.promo-prev__body
						.promo-prev__text
							span.promo-prev__descr Специальное предложения
							span.promo-prev__title на листы оцинкованные
				.promo-prev__item
					.promo-prev__header(style="background-image: url(../img/building_material3.jpg)")
						a(href="").btn Купить доборные элементы
					.promo-prev__body
						.promo-prev__text
							span.promo-prev__descr Распродажа
							span.promo-prev__title доборных элементов  кровли
				.promo-prev__item
					.promo-prev__header(style="background-image: url(../img/building_material4.jpg)")
						a(href="").btn Купить профнастил со скидкой
					.promo-prev__body
						.promo-prev__text
							span.promo-prev__descr Скидки до 50%
							span.promo-prev__title на профнастил