section.s-question.s-size-small
	.container
		.questions
			.upgrade
				.upgrade__icon-wrapper
					i.fas.fa-question-circle
				a.link.link-underline Что можно улучшить на этой странице?
			.ask-your-question
				span.ask-your-question__text Задайте вопрос
				ul.ask-your-question__list
					li.ask-your-question__item
						a(href="").ask-your-question__link
							i.fab.fa-facebook-messenger
							span.ask-your-question__text Messenger	
					li.ask-your-question__item
						a(href="").ask-your-question__link
							i.fab.fa-telegram
							span.ask-your-question__text Telegram	
					li.ask-your-question__item
						a(href="").ask-your-question__link
							i.fab.fa-vk
							span.ask-your-question__text Вконтакте	