section.s-sales-leaders
	.container
		.section-header 
			h2.title-section Лидеры продаж
		.sales-leaders
			.sales-leaders__row
				.sales-leaders__col
					a(href="#").sales-leaders__item.sales-leaders__item_big
						.sales-leaders__img(style="background-image: url(../img/sales1.jpg)")
						span.sales-leaders__names Водосточные трубы
					.sales-leaders__row
						.sales-leaders__col
							a(href="#").sales-leaders__item
								.sales-leaders__img(style="background-image: url(../img/sales6.jpg)")
								span.sales-leaders__names Планка стыковочная 30x30x2000 мм
						.sales-leaders__col
							a(href="#").sales-leaders__item
								.sales-leaders__img(style="background-image: url(../img/sales2.jpg)")
								span.sales-leaders__names Гладкий лист оцинкованный
				.sales-leaders__col
					.sales-leaders__row
						.sales-leaders__col
							a(href="#").sales-leaders__item
								.sales-leaders__img(style="background-image: url(../img/sales5.jpg)")
								span.sales-leaders__names Гладкий лист оцинкованный
						.sales-leaders__col
							a(href="#").sales-leaders__item
								.sales-leaders__img(style="background-image: url(../img/sales4.jpg)")
								span.sales-leaders__names Подсистема вентилируемого фасада
					.sales-leaders__row
						a(href="#").sales-leaders__item.sales-leaders__item_big
							.sales-leaders__img(style="background-image: url(../img/sales3.jpg)")
							span.sales-leaders__names Планка стыковочная 30X20X2000 мм, толщина 0,4мм, цвет графитовый серый


