section.s-product-slider.s-bg-white
	.container
		.section-header
			h2.title-section Вы смотрели
			.section-header__right
				span.product-slider__count
		.product-prev-slider
			.slider-nav.slider-nav_prev
				i.fas.fa-angle-left
			.slider-nav.slider-nav_next
				i.fas.fa-angle-right
			.product-slider__js
				include ../../modules/product/prev1
				include ../../modules/product/prev2
				include ../../modules/product/prev3
				include ../../modules/product/prev4
				include ../../modules/product/prev1
				include ../../modules/product/prev2
				include ../../modules/product/prev3
				include ../../modules/product/prev4